/* Declaring custom properties */
* {
  box-sizing: border-box;
  border: thin solid blue;
}

#header {
  background-color: #76071a;
}

#menu {
  background-color: black;
  color: white;
}

#menu > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#menu > ul > li {
  display: inline-block;
  padding: 0.2em;
}

#main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

#sidebar {
  padding: 1em;
  background-color: #f8f8f8;
}

.sidebar-title {
  font-size: 0.6em;
  font-weight: bolder;
}

#content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#banner

.card-image img {
  width: 250px;
  height: 250px;
}

.card-image4 img {
  width:250px;
  height: 250px;
}

.card-image3 img {
  width: 250px;
  height: 250px;
}

.card-ps5 img {
  width: 300px;
  height: 600px;
}
